/*------------------------------------------------------------------
Générique
------------------------------------------------------------------ */

html {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------
Base
------------------------------------------------------------------ */
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

body {

}



/*------------------------------------------------------------------
Éléments texte
------------------------------------------------------------------ */
span {
}

h1 {

}

h2 {
  
}

h3 {
   
}

h4 {
   
}

p {
  
}

.material-symbols-outlined {

}

a {

}

a:hover {

}

/*------------------------------------------------------------------
Mise en page des BLOCS
------------------------------------------------------------------ */

/*------------------------------------------Header-----------------------------------------*/

.header {
  
}
/*------------------------------------------Hero-----------------------------------------*/
.hero {

}

.hero .wrapper {

}


/*------------------------------------------Page Contact-----------------------------------------*/


/*------------------------------------------Page Projet-----------------------------------------*/


/*------------------------------------------Footer-----------------------------------------*/
.footer {
}

footer .wrapper {
}
